
body{
  color: #878787;
  margin: 0;
  text-align: center;
  align-items: center;
  background-color: black;

}

header {
  border: 3px solid red;
  margin: auto;
}

img.headerimg {
  width: 100%;
  height: auto;

div.container {
  display: inline-block;
}

}

h1 {
  font-size: 69px;
  font-style: italic;
  color: white;
  background-color: red;
}

h2 {
  font-size: 53px;
}

h3 {
  font-size: 20px;
  color: #48525c;
}

#primary-content {
  border: 3px solid red;
}

.button {
    background-color: #E8451C;
    box-shadow: white;
    border: 30px solid #E87E1C;
    color: white;
    padding: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 42px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
    height: auto;

}
